body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn, #prevBtn, #nextBtn, #resetBtn {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}

#prevBtn, #nextBtn, #resetBtn {
  background-color: #2196F3;
  color: white;
}

#searchBtn:hover, #prevBtn:hover, #nextBtn:hover, #resetBtn:hover {
  opacity: 0.8;
}
/*---*/
li{
  list-style: none;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  background-color: #f3f2f2;
  border-radius: 10px;
}

.card {
  border: solid 1px rgb(214, 207, 193);
  background-color: white;
  width: 200px;
  height: 200px;
}

.name {
  background-color: white;
  border: rgb(214, 207, 193) solid 1px;
  margin-top: -20px;
  text-align: center;
  width: 200px;
  height: 55px;
}